.fab-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/*.fab-add-topic:hover::before {
  content: 'Adicionar T\F3pico';
  position: absolute;
  right: 65px;
  top: 5px;
  font-size: 0.8em
}

.fab-edit-topic {
  position: absolute;
  bottom: 70px;
  left: 7px;
}

.fab-edit-topic:hover::before {
  content: 'Editar T\F3pico';
  position: absolute;
  right: 45px;
  top: 5px;
  font-size: 0.8em
}

.fab-delete-topic {
  position: absolute;
  bottom: 125px;
  left: 7px;
}

.fab-delete-topic:hover::before {
  content: 'Deletar T\F3pico';
  position: absolute;
  right: 45px;
  top: 5px;
  font-size: 0.8em
}

.fab-fav-topic {
  position: absolute;
  bottom: 180px;
  left: 7px;
}*/
