.login {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.login-header {
  margin: 0px;
  background: #ccc;
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: blink;
}

.login-body {
  padding: 20px;
}

.login-button {
  margin-top: 10px;
}
